{% extends 'base.html.twig' %}
{% set track_const = constant('App\\Entity\\Favorite::TYPE_TRACK') %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <img class="d-block mx-auto" src="{{ asset('build/img/spotify_logo.webp') }}" alt="" width="250"
                 height="220">
            <h2>{{ "track.search"|trans }}</h2>
            <p class="lead">{{ "track.description"|trans }}</p>
        </div>
        <div class="row g-4">
            <div class="col-12">
                {{ form_start(form, {'attr': {'class': 'd-flex align-items-end gap-3 w-100'}}) }}
                {{ form_row(form.search) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
            {% if tracks is defined and tracks is not null %}
                {% for track in tracks %}
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card h-100">
                            <img src="{{ track.pictureLink }}" class="card-img-top" alt="{{ track.name }}">
                            <div class="card-body">
                                <p class="card-text">{{ track.name }}</p>
                                <a href="{{ path('app_track_info', {'id': track.id}) }}"
                                   class="btn btn-primary">{{ "button.see"|trans }}</a>
                                {% if app.user %}
                                    <a href="#" data-favorite="{{ track.id }}"
                                       data-bs-toggle="tooltip"
                                       data-value="{{ track_const }}"
                                            {% if is_favorite is defined and is_favorite == true %}
                                                data-url="{{ path('app_favorite_remove') }}"
                                                title="{{ "favorite.remove"|trans }}"
                                            {% else %}
                                                data-url="{{ path('app_favorite_add') }}"
                                                title="{{ "favorite.add"|trans }}"
                                            {% endif %}
                                       class="float-end green"><i
                                                class="{% if is_favorite is defined and is_favorite == true %}fa-solid{% else %} fa-regular{% endif %} fa-star"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% if is_submitted is defined and is_submitted == true %}
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{ "track.not_found"|trans }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
