{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <img class="d-block mx-auto" src="{{ asset('build/img/spotify_logo.webp') }}" alt="" width="250"
                 height="220">
            <h2>{{ "recommended.welcome"|trans }}</h2>
            <p class="lead">{{ "recommended.description"|trans }}</p>
        </div>
        <div class="row g-4 pt-4">
            {% if recommendations is defined and recommendations is not null %}
                {% for recommendation in recommendations %}
                    {% set is_favorite = get_is_favorite(recommendation.id) %}
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card h-100">
                            <img src="{{ recommendation.pictureLink }}" class="card-img-top"
                                 alt="{{ recommendation.name }}">
                            <div class="card-body">
                                <p class="card-text">{{ recommendation.name }}</p>
                                <a href="{{ path('app_track_info', {'id': recommendation.id}) }}"
                                   class="btn btn-primary">{{ "button.see"|trans }}</a>
                                {% if app.user %}
                                    <a href="#" data-favorite="{{ recommendation.id }}"
                                       data-bs-toggle="tooltip"
                                            {% if is_favorite == true %}
                                                data-url="{{ path('app_favorite_remove') }}"
                                                title="{{ "favorite.remove"|trans }}"
                                            {% else %}
                                                data-url="{{ path('app_favorite_add') }}"
                                                title="{{ "favorite.add"|trans }}"
                                            {% endif %}
                                       class="float-end green">
                                        <i class="{% if is_favorite == true %}fa-solid{% else %} fa-regular{% endif %} fa-star"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
