<div class="container-fluid">
        <div class="col-auto px-0">
            <div class="sidebar bg-darks">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white h-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Spotify Project</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ path('app_artist') }}" class="nav-link link-sidebar align-middle px-0">
                            <i class="fa-solid fa-user pe-2"></i><span class="ms-1 d-none d-sm-inline">{{ "sidebar.artist"|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tracks') }}" class="nav-link link-sidebar align-middle px-0">
                            <i class="fa-solid fa-music pe-2"></i><span class="ms-1 d-none d-sm-inline">{{ "sidebar.music"|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- for recommendation, do after a recommendation by using the app.user.id and not a id static of a song -->
                        <a href="{{ path('app_track_info', { id: 0, recommendations: true }) }}" class="nav-link link-sidebar align-middle px-0">
                            <i class="fa-solid fa-user pe-2"></i><span class="ms-1 d-none d-sm-inline">{{ "sidebar.recommended"|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-sidebar align-middle px-0">
                            <i class="fa-solid fa-user pe-2"></i><span class="ms-1 d-none d-sm-inline">...</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-sidebar align-middle px-0">
                            <i class="fa-solid fa-user pe-2"></i><span class="ms-1 d-none d-sm-inline">...</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Me</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if app.user is defined and app.user is not null %}
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Sign in / Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="empty-space"></div>
            <div class="main-content py-3">
                {{ body_content|raw }}
            </div>
        </div>
    </div>
</div>